@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 249 250;
    --foreground: 15 43 91;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 10 26 51;
      --foreground: 230 231 232;
    }
  }
  
  body {
    color: rgb(var(--foreground));
    background: rgb(var(--background));
  }
} 